.logo img{
    width: 250px;
}

header{
    width: 100%;
    height: 60px;
    background-color: black;
}

header ul{
    list-style-type: none;
    line-height: 60px;
}

header ul li{
    float: left;
    padding-right: 50px;
    padding-left: 50px;
    color:white;
    font-size:18px;
    margin-bottom: 0%;
}

h1{
    border-left: 5px solid black;
    border-bottom: 2px solid black;
}

.left{
    float:left;
    width: 71%;
    padding-right: 50px;
}


main{
   clear: both;
   line-height: 250%;
   margin: 0 auto;
   margin-top: 20px;
}

.maincontainer{
    margin: 0 auto;
    margin-top: 70px;
}


.right{
    float:right;
    width: 25%;
}

.right ul{
    list-style-type: none;
}

.subheading{
    border-bottom: dashed 1px black;
    margin-right: 50px;
}


footer {
    clear: both;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    line-height: 50px;
}



body{
    font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
}

.formheading {
    margin:10px;
    margin-top: 30px;
    border-left: 4px red solid;
    /* background-color: #f1f1f1; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    /* width: 500px; */
    font-size: 20px;
}

form{
    margin:10px;
    background-color: #fbfbfb   ;
    border: 3px #ebebeb solid;
    /* border-radius: 10px; */
    /* width: 500px; */
}

form div{
    padding: 15px;
}

/* 
.text,textarea,.dropdown{
    border: 1px;
    padding: 5px;
    color: #999;
    background: #fff;
} */

.submit{
    border: 1px solid lightgray;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
   /*  border-radius: 5px; */
    border-bottom: solid 2px gray;
}


/* .Post{
    background-color: lightgray;
    width:100%;
    text-align: center;
    margin-bottom: 50px;
} */

.Post{
    float:left;
    width: 71%;
    padding-right: 50px;
}


.kiji{
    margin: 10px;
    background-color: #fbfbfb;
    border: 3px #ebebeb solid;
    /* border-radius: 10px; */
}


h3{
    border-bottom: solid 1px black;
    margin-right: 50px;
}

.contents{
        
}

.handlename{
    font-size: 10%;
}